//------------- API CONFIG -----------------
HOST="http://localhost"
PORT="3000"

//------------- AUTH CONFIG ----------------
JWT_COOKIE_SECURE="true" | "false"
JWT_SECRET="jwt secret"
JWT_EXPIRATION_MS="jwt session expiration in milliseconds"

//------------- GOOGLE OAUTH -----------------
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
FRONTEND_URL=

//------------- GOALS LOGIC CONFIG -----------------
GOALS_USER_LIMIT=
GOALS_GLOBAL_LIMIT=

//----- AWS S3 -----------------
S3_BUCKET_REGION="us-east-2"
S3_BUCKET_NAME="bucket-name"
S3_AWS_ACCESS_KEY_ID="AK"
S3_AWS_SECRET_ACCESS_KEY="SK"

//----- AWS CLOUDFRONT -----------------
CLOUDFRONT_URL="https://{value}.cloudfront.net/"
CLOUDFRONT_KEY_PAIR_ID="cloudfront AK"
CLOUDFRONT_PRIVATE_KEY="cloudfront private key"

//------------- AWS CLOUDWATCH -----------------
CLOUDWATCH_AWS_ACCESS_KEY_ID="AK"
CLOUDWATCH_AWS_SECRET_ACCESS_KEY="SK"
CLOUDWATCH_AWS_REGION="us-east-2"

//----- MONGO DB ------------------------------
MONGODB_URL="mongodb+srv://{user}:{password}@{cluster}.7qzbn.mongodb.net/prod?retryWrites=true&w=majority&appName={appName}"

//--------- LOGS --------------------------
INFO_LOG_GROUP_NAME="cloudwatch log group for info" -> eg : "diffumGoals/PROD/Api/INFO"
ERROR_LOG_GROUP_NAME="cloudwatch log group for error" -> eg : "diffumGoals/PROD/Api/ERROR"

INFO_LOGS_PATH="local path to info log file" -> eg : "C:\Users\Matew\Desktop\Diffum Dreams\Api\src\logs\files\info.log"
ERROR_LOGS_PATH="local path to error log file" -> eg : "C:\Users\Matew\Desktop\Diffum Dreams\Api\src\logs\files\error.log"